@import url('http://fonts.cdnfonts.com/css/averta-blackitalic');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Averta-Regular', sans-serif;
}

body {
    line-height: 1.5;
    color: #514949;
    background-color: white;
}

#head {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-image: url(./images/hero-bg.svg);
    background-size: cover;
    background-position: center center;
    /* background-repeat: no-repeat; */
    height: 100vh;
    gap: 2rem;
    padding-top: 4rem;
    margin-bottom: 7rem;
    /* margin: 0 48px; */
    color: #514949;
}

#head h2 {
    font-size: 32px;
}

.top-image {
    /* width: 7%; */
    margin-bottom: 48px;
}
#head p {
    width: 45%;
    color: #514949;
    opacity: 0.9;
    margin-bottom: 50px;
    padding: 0 16px;
}

#head p a {
    text-decoration: none;
    color: #e73328;
    font-size: 16px;
} 

#head  a {
    text-decoration: none;
    color: #e73328;
    font-size: 14px;
}

#head .head-btn {
    display: flex;
    gap: 2rem;
    /* padding: px; */
}

#head .head-btn a {
    background-color: #e73328;
    color:white;
    padding: 14px 40px;
    border: 1px solid #e73328;
}

#head .head-btn .btn-outline {
    background: white;
    color: #e73328;
}

#head .head-btn .btn-outline:hover {
    background: #e73328;
    color: white;
}

#head .head-btn .btn-fill:hover {
    background: white;
    color: #e73328;
}

.heading {
    text-align: center;
    font-size: 14px;
    color: #e73328;
    font-weight: 500;
}

.slogan {
    text-align: center;
    font-size: 24px;
    color: #514949;
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 40px;
}


.main-container {
    display: flex;
    /* flex-direction: row; */
    text-align: left;
    padding: 3rem 12rem;
    gap: 1.5rem;
    /* margin: 0 30px; */
}

.main-container div {
    background-color: #FFFAFA;
    padding: 61px 47px 82px 36px;
}

.main-container div img {
    margin-bottom: 48px;
    /* width: 45%; */
}

.main-container div p {
    font-size: 16px;
    color: #514949;
    opacity: 0.9;
    margin-bottom: 12px;
}

.main-container div a {
    font-size: 16px;
    /* line-height: 24px; */
    color: #e73328;
    text-decoration: none;
    opacity: 0.9;
}

/* #main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    font-size: 14px;
    color: #514949;
    margin-bottom: 64px;
    /* opacity: 0.9; */
}


.footer-container a {
    text-decoration: none;
    color: #e73328;
    /* display: block; */
}

.footer-container h3 {
    font-size: 16px;
    font-weight: bold;
    color: #514949;
}

.footer-container div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
} 

.footer-container .media {
    display: inline-block;
    /* gap: 1rem; */
}

.media h3 {
    margin-bottom: 20px;
}

.media img{
    width: 18px;
    height: 18px;
} 

#main-footer {
    display: flex;
    flex-direction: column;
    padding: 0 210px;
    margin-top: 160px;
}

#main-footer hr {
    width: 100%;
    margin: 0 auto;
    opacity: 0.2;
    border: 0.7px solid #514949;
}

.copyright {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 32px;
    color: #514949;
    padding-bottom: 97px;
}

/* Media Queries */

@media screen and (min-width:768px) and (max-width:991px) {
    #head p {
        width: auto;
        color: #514949;
        opacity: 0.9;
        margin-bottom: 50px;
        padding: 0 16px;
        }
    
    #head .head-btn {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    
    .main-container {
        display: flex;
        flex-direction: column;
        padding: 4rem 2.5rem;
        gap: 1.5rem;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: #514949;
        margin-bottom: 64px;
        gap: 2rem;
        text-align: center;
    }

    .footer-logo {
        width: 150px;
        margin-bottom: 15px;
    }

    .footer-container h3 {
        font-size: 24px;
        font-weight: bold;
        color: #514949;
    }

    #main-footer {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
    }
}

@media screen and (min-width:320px) and (max-width:767px) {
    .top-image {
        display: block;
        padding-top: 50px;
    }

    #head h2 {
        font-size: 28px;
    }

    #head p {
        width: auto;
        color: #514949;
        opacity: 0.9;
        margin-bottom: 50px;
        padding: 0 16px;
    }

    #head .head-btn {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }


    .main-container {
        display: flex;
        flex-direction: column;
        padding: 4rem 2.5rem;
        gap: 1.5rem;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: #514949;
        margin-bottom: 64px;
        gap: 2rem;
        text-align: center;
    }

    .footer-logo {
        width: 150px;
        margin-bottom: 15px;
    }

    .footer-container h3 {
        font-size: 24px;
        font-weight: bold;
        color: #514949;
    }

    #main-footer {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
    }
}